<section class="about">
  <div class="section-header">
    <h2>About Us</h2>
  </div>

  <div class="about-content col col-md-12 col-lg-6">
    <div class="about-text">
      <h3>WE ARE THE BONDERS!</h3>
      <p>
        Bonders are a blend of cheerful, uprising and creative peeps working to
        deliver outstanding services. We are committed and loyalty runs in the
        veins; when we are put together our results blow minds.
      </p>
      <p>
        We offer a wide range of digital services including Social Media
        management, Web and Mobile App Development, SEO Optimization, Influencer
        Marketing, SMS Campaigns, and Media Production to help businesses grow,
        reach their audience, and strengthen their digital presence.
      </p>
    </div>

    <div class="about-visual">
      <div class="about-graphic"></div>
    </div>
  </div>
</section>
